C:\Users\пользователь\Documents\Visual Studio 2015\Projects\Figure4\Debug
Figure4/Debug
https://vscode.dev/github/OnishchenkoA/Figure-4/blob/main/Debug
https://vscode.dev/github/OnishchenkoA/Figure-4/blob/main/Debug